/* 命名規則　BEM */

* {
  margin: 0;
  padding: 0;
}

*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  -moz-tab-size: 4;
  tab-size: 4;
  word-break: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

body {
  background-color: #e6e2d7;
  color: #000;
  font-family: 'Noto Serif JP', serif;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(https://placehold.jp/1920x1000.png);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 80px;
  position: relative;
  color: #fff;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  margin-bottom: 180px;
}

.header__title {
  position: absolute;
  top: 60px;
  right: 100px;
  writing-mode: vertical-rl;
}

.site-title {
  line-height: 1px;
  margin-left: 60px;
  display: block;
}

.site-title img{
  width: 40px;
}

#nav li {
  margin-left: 25px;
}

.header__anker {
  position: absolute;
  bottom: 30px;
  left: 40px;
  background: rgba(255,255,255,0.2);
  padding: 8px;
}

.header__anker a {
  display: block;
  padding: 30px 18px;
  border: #ccc 1px solid;
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

#news {
  margin-bottom: 180px;
  display: flex;
  flex-direction: row-reverse;
}

.section-title {
  font-weight: normal;
  line-height: 1;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
}

#news .section-title .en {
  display: block;
  font-size: 0.875rem;
  margin-left: 15px;
}

#news .section-title .ja {
  display: block;
  font-size: 2.25rem;
  letter-spacing: 0.1em;
}

.news__content {
  padding: 80px 100px 0 0;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
}

.news__content dt {
  font-size: 0.75rem;
  padding: 15px 30px 15px 5px;
  border-right: 1px solid #000;
}

.news__content dd {
  padding: 15px 0 15px 30px;
}

.news__content dd:last-child {
  border-left: 1px solid #000;
}

.introduction {
  display: flex;
  margin-bottom: 180px;
}

.introduction .section-title {
  font-weight: normal;
  line-height: 1;
}

#introduction-top .section-title {
  margin-left: 20px;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
}

#introduction-bottom .section-title {
  margin-right: 20px;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
}

#introduction-top {
  flex-direction:row-reverse;
}

.introduction .section-title .ja {
  font-size: 2rem;
  letter-spacing: 0.1em;
  margin-bottom: 18px;
}

.introduction .section-title .en {
  font-size: 0.875rem;
}

.introduction-top__img {
  width: 65%;
  margin-top: 100px;
  position: relative;
}

.introduction-top__img__text {
  width: 56%;
  position: absolute;
  bottom: -20px;
  left: -20px;
  color: #fff;
  padding: 50px 0;
  background-color: rgba(249, 233, 6, 0.6);
  text-align: center;
}

.introduction-bottom__img {
  width: 65%;
  margin-top: 100px;
  position: relative;
}

.introduction-bottom__img__text {
  width: 56%;
  position: absolute;
  bottom: -20px;
  right: -20px;
  color: #fff;
  padding: 50px 0;
  background-color: rgba(149, 42, 38, 0.6);
  text-align: center;
}

#map iframe {
  width: 100%;
  vertical-align: bottom;
}

#footer {
  background-color: #000;
  color: #fff;
  padding: 80px 80px 30px 30px;
}

.footer__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  margin-bottom: 10px;
}

.footer__inner__left, .footer__inner__right {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
}

#footer .footer__inner__right__logo {
  width: 40px;
  margin-left: 60px;
}

#footer .footer__inner__right__info {
  line-height: 2;
}

#footer .footer__inner__right__menu {
  font-size: 1rem;
  margin-right: 60px;
}

#footer .footer__inner__right__menu li {
  margin-left: 25px;
}

.copy-right {
  text-align: center;
  font-size: 0.625rem;
}


@media screen and (max-width: 768px) {
  #header {
    background-image: url(https://placehold.jp/640x760.png);
    padding: 20px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 768px) {
  .header__anker {
    left: 20px;
    bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  #news {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 768px) {
  .news__content {
    padding: 20px 30px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .news__content dt {
    padding: 15px 12px 15px 5px;
  }
}

@media screen and (max-width: 768px) {
  .news__content dd {
    padding: 15px 0 15px 12px;
  }
}

@media screen and (max-width: 768px) {
  .news__content dt:nth-of-type(n + 4) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .news__content dd:nth-of-type(n + 4) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .news__content dd:nth-of-type(3) {
    border-left: #000 solid 1px;
  }
}

@media screen and (max-width: 768px) {
  .introduction {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #introduction-top .section-title {
    margin-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .introduction .section-title .ja {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .introduction .section-title .en {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .introduction-top__img {
    width: 90%;
    margin-top: 70px;
  }
}

@media screen and (max-width: 768px) {
  .introduction .introduction-top__img__text {
    width: 64%;
    font-size: 0.875rem;
    padding: 30px 0;
  }
}

@media screen and (max-width: 768px) {
  #introduction-bottom .section-title {
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .introduction-bottom__img {
    width: 90%;
    margin-top: 70px;
  }
}

@media screen and (max-width: 768px) {
  .introduction .introduction-bottom__img__text {
    width: 64%;
    font-size: 0.875rem;
    padding: 30px 0;
  }
}

@media screen and (max-width: 768px) {
  #footer {
    padding: 40px 20px 30px 20px;
  }
}

@media screen and (max-width: 768px) {
  #footer .footer__inner__right__logo {
    margin-left: 25px;
  }
}

@media screen and (max-width: 768px) {
  #footer .footer__inner__right__menu {
    font-size: 0.875rem;
    margin-right: 25px;
  }
}

@media screen and (max-width: 768px) {
  #footer .footer__inner__right__menu li {
    margin-left: 10px;
  }
}