/* 命名規則　BEM */

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

#header {
  height: 100vh;
  background-image: url(https://placehold.jp/1200x800.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
}

.header__title {
  position: absolute;
  top: 60px;
  right: 100px;
  writing-mode: vertical-rl;
}

.sec-list {
  margin-right: 40px;
}

.sec-list li {
  margin-left: 20px;
}

.sec-list li:last-child {
  margin-left: 0;
}

.sec-title {
  font-size: 2.5rem;
}

.header__anker {
  position: absolute;
  bottom: 30px;
  left: 30px;
  background-color: rgb(39, 39, 39);
  padding: 10px;
}

.header__anker a {
  padding: 20px;
  color: #fff;
  background-color: rgb(39, 39, 39);
  padding: 30px 15px;
  border: #fff 1px solid;
  box-sizing: border-box;
  writing-mode: vertical-rl;
}

main {
  background-color: rgb(237, 225, 225)
}

.wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

#news {
  position: relative;
  height: 400px;
  padding-top: 150px;
}

.news__title {
  position: absolute;
  top: 150;
  right: 0;
  writing-mode: vertical-rl;
  margin-left: 50px;
}

.news__content {
  margin: 0 auto;
  writing-mode: vertical-rl;
  padding-top: 50px;
}

.news__content dt {
  font-size: 0.7rem;
  padding-right: 30px;
  border-right: 1px solid #000;
}

.news__content dd {
  padding-left: 30px;
}

.news__content dd:last-child {
  border-left: 1px solid #000;
}

.introduction__top {
  display: flex;
  flex-direction:row-reverse;
  position: relative;
  padding-bottom: 200px;
}

.introduction__title {
  writing-mode: vertical-rl;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.introduction__title p {
  margin-top: 20px;
}

.introduction__top__img {
  position: absolute;
  top: 100px;
  right: 20px;
  position: relative;
}

.introduction__top__img__text {
  position: absolute;
  bottom: 20px;
  left: -20px;
  color: #fff;
  padding: 40px 100px;
  background-color: rgba(255, 255, 0, 0.391);
}
.introduction__bottom {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-bottom: 200px;
}

.introduction__bottom__img {
  position: absolute;
  top: 100px;
  left: 20px;
  position: relative;
}

.introduction__bottom__img__text {
  position: absolute;
  bottom: 20px;
  right: -20px;
  color: #fff;
  padding: 40px 100px;
  background-color: rgba(103, 34, 34, 0.56);
}

#map {
  width: 100%;
}

#footer {
  background-color: #000;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  height: 300px;
}

.footer__content {
  writing-mode: vertical-rl;
}

.footer__content__right {
  position: absolute;
  top: 80px;
  right: 40px;
}

.footer__content .sec-title a {
  color: #fff;
  font-size: 1rem;
}

.footer__content .sec-title {
  margin-left: 20px;
}

.footer__content__contact a {
  color: #fff;
}
.copy-right {
  text-align: center;
}